@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.project {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100%;
  background-color: #f1f1f1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 4%;
  padding-bottom: 8%;
}

.page_titile {
  font-family: "Orbitron", sans-serif;
  text-decoration: underline;
  letter-spacing: 2px;
  margin-top: 6%;
  margin-bottom: 2%;
}

.project_image {
  height: 200px;
  width: 300px;
}

.project_card {
  display: flex;
}

.project_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6%;
  width: 400px;
}

.project_description h1 {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  text-decoration: underline;
  text-align: center;
}

.project_description p {
  margin-top: 4%;
  text-align: center;
}

.detail_link {
  margin: 12% auto 12% 10px;
}

.detail_link a {
  border: black solid 2px;
  border-radius: 18px;
  padding: 10px 32px;
}

.detail_link :hover {
  background: black;
  color: white;
}

.project_icons {
  margin: 20px;
  font-size: 32px;
}

.project_account_links:nth-child(1) {
  color: #585858;
}

.project_account_links:nth-child(2) {
  color: #585858;
}

.project_account_links:nth-child(3) {
  color: #585858;
}

.project_account_links:nth-child(1) :hover {
  color: #e64340;
}

.project_account_links:nth-child(2) :hover {
  color: black;
}

.project_account_links:nth-child(3) :hover {
  color: #0e76a8;
}

.container {
  display: flex;
}

.container .card {
  position: relative;
  border-radius: 10px;
}

.container .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.7s;
  z-index: 1;
}

.container .card .icon {
  cursor: pointer;
  background: black;
}

.container .card .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  background: #ff0057;
  transform: translateY(0px);
}

.container .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content i {
  max-width: 100px;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.container .card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: #414141;
}

.container a {
  text-decoration: none;
  color: #414141;
}
