@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.about {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
}

.about_box {
  display: flex;
  flex-direction: row;
}

.image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.about_div {
  margin-left: 5%;
}

.about_div h1 {
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.about_div h4 {
  margin-bottom: 12px;
  letter-spacing: 2px;
}

.about_div h3 a {
  margin-right: 25px;
}

.about_div h3 a:nth-child(1) {
  color: #585858;
}

.about_div h3 a:nth-child(2) {
  color: #585858;
}

.about_div h3 a:nth-child(3) {
  color: #585858;
}

.about_div h3 a:nth-child(1) :hover {
  color: black;
}

.about_div h3 a:nth-child(2) :hover {
  color: #0e76a8;
}

.about_div h3 a:nth-child(3) :hover {
  color: #4ec967;
}

.about_div p {
  margin-left: 0;
  font-family: "Open Sans", sans-serif;
}

.resume {
  display: flex;
  flex-direction: row;
  border: black solid 2px;
  margin-top: 5%;
}

.resume :hover {
  background-color: black;
  color: white;
}

.resume a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.resume_download_icon {
  margin-bottom: -4px;
  margin-left: 4px;
  font-size: 20px;
}

.note {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .about {
    padding-top: 18%;
    padding-bottom: 18%;
  }
  .about_box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .image {
    margin-bottom: 12%;
  }
  .about_div {
    margin-left: 0;
  }
  .note {
    margin: 20px 10px 0 10px;
  }
}
