@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

.background_cover_image {
  display: flex;
  flex: 1;
  background-image: url("../../Assets/Images/backgroundComputer.jpg");
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.top {
  padding-top: 40%;
}

.top h1 {
  font-family: "Roboto", sans-serif;
  color: rgb(170, 170, 170);
  font-size: 3vw;
  letter-spacing: 4px;
  text-align: center;
}

.top h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: 1px;
  font-size: 2vw;
  margin-top: 10px;
}

.top h2 a {
  color: rgb(170, 170, 170);
}

.top h2 :hover {
  color: #66fcf1;
  cursor: pointer;
  padding-top: 2px;
}
