* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.back {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 9;
}

.navbar {
  display: flex;
  flex: 1;
  background-color: black;
  height: 46px;
  align-items: center;
  justify-content: space-between;
}

.navigations {
  display: flex;
  flex-direction: row;
}

.title {
  margin-left: 22px;
  letter-spacing: 2px;
  color: white;
}

.link {
  text-decoration: none;
  color: white;
}

.link :hover {
  color: #66fcf1;
}

.navigation_text {
  margin-right: 24px;
  letter-spacing: 2px;
}

p {
  margin-left: 6px;
}
